* {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
}

.top {
    background: rgb(197, 57, 119);
    background: linear-gradient(90deg, rgb(197, 57, 119), rgb(228, 80, 77) 100%);
    margin-top: -10px;
}

.title {
    font-size: 18px;
    margin-bottom: 8px;
}

.rataTengah {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.kotak {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 7px;
    font-size: 13px;
    float: right;
}

.here {
    background-color: rgba(var(--cdc, 255, 255, 255), 1);
    width: 350px;
    height: auto;
    border: 1px solid #dbdbdb;
    padding: 35px;
    box-sizing: border-box;
    margin-top: 210px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.here img {
    width: 210px;
    height: 60px;
    display: block;
    margin-bottom: 40px;
    margin-top: -20px;
    margin-right: auto;
    margin-left: auto;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 25px;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.here button {
    margin-bottom: 20px;
    background-color: #3897f0;
    font-size: 15px;
}

.here i {
    margin-right: 10px;
    color: #fff;
}

small {
    color: #999;
}

.here label {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    color: #3897f0;
}

.here p {
    text-align: center;
    color: #999;
    display: block;
}

.here a {
    color: #3897f0;
    font-weight: 400;
}

input[type=text],
input[type=password] {
    background-color: #fafafa;
    font-size: 11px;
}

.bahasa {
    font-size: 13px;
    color: #003569;
    text-align: center;
}

.bottom {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: -5px;
    color: #636363;
}

@media screen and (max-width: 990px) {
    .navbar-text {
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
    }

    .here {
        width: auto;
        height: auto;
        padding: 33px;
        border: none;
        margin-top: 30px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}